<p>
  <mat-toolbar>
    @if(sidenav.mode === 'over'){
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="sidenav.toggle()"
    >
      @if(sidenav.opened){
      <mat-icon>close</mat-icon>
      }@else {
      <mat-icon>menu</mat-icon>
      }
    </button>
    }
    <h1>Dashboard</h1>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav="matSidenav" mode="side" opened>
    <img class="img-icon" src="https://github.com/ragnaars.png" alt="icon" />
    <h4 class="name">Orlando Tobar</h4>
    <p class="design">Ingeniro de Software</p>

    <mat-divider></mat-divider>

    <mat-list role="list">
      <mat-list-item role="listitem">
        <a routerLink="/cliente-create" style="color: white">Crear</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a routerLink="/cliente-list" style="color: white">Listar</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <span style="color: white">Reportes</span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
